* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

/* end of reset */

#root{
    background-color: #45ff32;
}

div{
    margin : auto;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    border-bottom: 1px solid black;
}

section button{
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 200px;
    height: 30px;
    background-color: grey;
}

section.image-holder img{ /* image is not inline nor block by default */
    display: block;
    width: 100%;
    height: 100vh;
    /* object-fit: cover; cover:this cuts a normal scaled pic into the space it has */
    object-fit: contain; /* ezzel csinálja a renderelhető képeket, ettől még position static marad, és csak image és videó tagekre vonatkozik, backgroundra nem*/
}

section.background-holder{ /* szülője a backgroundnak*/
    padding: 20px;
    border:10px solid rgba(15,80,95, 0.5);
    background-clip: padding-box; /* ez mondja meg, hogy mi alat legyen: a content a padding vagy még a margó alatt is*/
    background-image: url("canada.jpg");
    background-size: 200px auto; /*cover ar cover, contain meg 1 vagy többször berakja, 200px az méretben rakja be, auto az az eredeti képarányt megtartja */
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
}


